DB_HOST=49.232.230.189 		              # 数据库连接ip地址
DB_PORT=14148 										      # 数据库连接端口
DB_USERNAME=root                        # 数据库连接用户名
DB_PASSWORD=CCKv4KR45ShS2ABnwEra        # 数据库连接密码
DB_DATABASE=plain 								      # 数据库连接的数据库名

PG_DB_HOST=49.232.230.189               # postgres数据库连接ip地址
PG_DB_PORT=55443                        # postgres数据库连接端口
PG_DB_USERNAME=postgresql               # postgres数据库连接用户名
PG_DB_PASSWORD=MvE2e2rdu3Sy52aV4WaF     # postgres数据库连接密码
PG_DB_DATABASE=langgraph_db             # postgres数据库连接的数据库名

MILVUS_URI=http://49.232.230.189:7323   # milvus数据库的连接uri
MILVUS_USERNAME=root                    # milvus数据库连接用户名
MILVUS_PASSWORD=JyNB46F8v2XSrmuQKN6C    # milvus数据库连接用户的密码
LLAMA_INDEX_DATABASE=llamaindex_db      # llama-index所使用的数据名称（需要提前创建）
LLAMA_INDEX_COLLECTION=llama_index      # llama-index所使用的集合名称（不需要提前创建，会自动创建）
LLAMA_INDEX_DIMENSION=1024              # llama-index所使用嵌入模型的向量维度

REDIS_HOST=49.232.230.189 							# redis数据库连接ip地址
REDIS_PORT=7740                         # redis数据库连接端口
REDIS_PASSWORD=nDfSAmu3aCKEwjUnEnnY     # redis数据库连接密码
REDIS_DB=0                              # redis数据库连接的库索引

LLM_KEY_LOCAL=123
LLM_KEY_HUOSHAN=2de899f1-6ae3-4448-a40f-3b8064dd5a7a 	# 火山引擎模型服务平台key
LLM_KEY_BAILIAN=sk-655ce60b93694359ae749ce545f8a0a5 	# 阿里云百炼模型服务平台key
LLM_KEY_DEEPSEEK=sk-a89d0ff9421a43fca5f0xxxxxxxxxxxx 	# Deepseek模型服务平台key

SERVER_PORT = 7003                                      # 服务启动端口
SERVER_DOMAIN = http://127.0.0.1                        # 后端服务部署的域名

JWT_SECRET_KEY = a2d41c19c766490a2bea4be9902ea9f60e44ca3d9ef82e8b803f77a4f9deb247 # JWT秘钥
JWT_ALGORITHM = HS256                                   # JWT加密算法
JWT_ACCESS_TOKEN_EXPIRE_SECONDS = 1800                  # JWT访问令牌默认有效时间（秒，1800s为30分钟）
JWT_REFRESH_TOKEN_EXPIRE_SECONDS = 604800               # JWT刷新令牌默认有效时间（描秒，604800s为7天）
JWT_GLOBAL_ENABLE = true                               # 是否开启全局JWT认证
JWT_WHITE_LIST = ["/token", "/login", "/refresh", "/registry", "/verify", "/async_delay", "/langgraph/setup", "/", "/redoc", "/docs", "/static/swagger-ui.min.css", "/static/swagger-ui-bundle.min.js", "/openapi.json", "/static/redoc.standalone.js"] # JWT认证白名单接口，不需要认证的接口

FILE_SAVE_PATH=/www/wwwroot/web/web/upload_file/        # 文件保存在服务器上的路径
FILE_PUBLIC_PATH=/web/upload_file/                      # 文件在浏览器上的访问路径
DEFAULT_UPDATE_BY_FIELDS=true                           # 更新接口是否默认按字段更新（按需更新字段值）

DIFY_APPROVE_WORKFLOW_URL = http://49.232.230.189:8099/v1/workflows/run     # dify审批工作流接口
DIFY_APPROVE_WORKFLOW_KEY = app-L9v0clNP3po4WU1Gk42Oj4vW          # dify审批工作流接口key
